:root {
    --primary-color: #3E92CC; /* Principal – botões, links, destaques */
    --secondary-color: #5f6974; /* Textos secundários, bordas, ícones */
    --accent-color: #FFC145; /* Alertas, chamadas visuais, ícones */
    --dark-color: #1C3144; /* Fundo, navbar, headers */
    --warning-color: #F15025; /* Botões de ação, hover, loading, status */
    --text-color: var(--secondary-color); /* Use cinza claro for secondary text */
    --background-gradient: linear-gradient(135deg, var(--dark-color), var(--primary-color));
    --white: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.2); /* Slightly softer shadow */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-gradient);
    background-repeat: no-repeat; /* Prevent gradient repetition */
    background-size: cover; /* Ensure gradient covers the viewport */
    background-attachment: fixed; /* Make the gradient fixed across the page */
    color: var(--text-color);
    display: flex;
    flex-direction: column; /* Stack containers vertically */
    justify-content: flex-start; /* Align containers at the top */
    align-items: center;
    min-height: 100vh; /* Ensure the gradient spans the full page height */
    overflow-y: auto; /* Enable scrolling if content exceeds viewport */
}

.container {
    text-align: center;
    background: var(--white);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 15px var(--shadow-color);
    max-width: 90%;
    width: 600px;
    margin: 20px 0; /* Add vertical spacing between containers */
}

h1 {
    color: var(--primary-color); /* Azul médio for headers */
}

p {
    color: var(--text-color); /* Cinza claro for secondary text */
    font-size: 1.2em;
    text-align: justify;
}

a {
    color: var(--primary-color); /* Azul médio for links */
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
    background: var(--warning-color); /* Laranja for hover effect */
    color: var(--white);
}

.gif-container {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Reduced height for better fit */
    max-width: 100%; /* Ensure it doesn't exceed container width */
}

.gif-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the GIF fits within the container */
    border-radius: 10px;
}

.gif-explanation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.gif-explanation figure {
    margin: 0;
    text-align: center;
    max-width: 100%;
    width: 100%; /* Ensure figures take up the full width of the container */
}

.gif-explanation img {
    max-width: 90%; /* Reduced max width for better fit */
    height: auto;
    object-fit: contain; /* Ensure the GIFs fit within their container */
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.gif-explanation figcaption {
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--text-color);
}

header h1 {
    color: var(--primary-color); /* Azul médio for headers */
    text-align: center;
    margin-bottom: 20px;
}

.download-link {
    display: inline-block;
    background: var(--primary-color); /* Azul médio for buttons */
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    padding: 15px 25px; /* Increased padding for a more prominent button */
    border-radius: 8px; /* Slightly rounded corners for a modern look */
    margin: 20px 0; /* Add spacing around the button */
    font-size: 1.1em; /* Slightly larger font size */
    box-shadow: 0 4px 10px var(--shadow-color); /* Add a subtle shadow */
    transition: all 0.3s ease;
}

.download-link:hover {
    background: var(--warning-color); /* Laranja for hover effect */
    color: var(--dark-color); /* Azul escuro for contrast */
    transform: translateY(-3px); /* Slight lift effect on hover */
    box-shadow: 0 6px 15px var(--shadow-color); /* Enhance shadow on hover */
}

.update-notes {
    margin-top: 10px;
    text-align: left;
}

.update-notes h2 {
    color: var(--dark-color);
    margin-bottom: 20px;
}

.update-notes p {
    font-size: 1em;
    margin: 5px 0;
}

.prerequisites {
    font-size: 1rem; /* Smaller font size */
    color: var(--secondary-color); /* Cinza claro for subtle text */
    margin-top: 10px;
    text-align: center;
}

.redes_sociais {
    text-align: center;
}

.footer a {
    color: var(--primary-color); /* Azul médio for footer links */
    text-decoration: none;
}

.footer a:hover {
    background-color: var(--warning-color); /* Laranja for hover effect */;
    color: var(--dark-color); /* Amarelo for hover effect */
}

.header-logo {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    max-width: 100%;
}

.header-logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.download-button {
    display: inline-block;
    background: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 8px;
    margin: 20px 0;
    font-size: 1.1em;
    box-shadow: 0 4px 10px var(--shadow-color);
    transition: all 0.3s ease;
}

.download-button:hover {
    background: var(--warning-color);
    color: var(--dark-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px var(--shadow-color);
}

#latest-version-info {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: var(--secondary-color);
}

.system-requirements {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-top: 10px;
    text-align: center;
}

.guide-section {
    margin-top: 10px;
    text-align: left;
}

.guide-section h2 {
    color: var(--dark-color);
    margin-bottom: 20px;
}

.image-guide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.image-guide-img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.issue-section {
    margin-top: 10px;
    text-align: left;
}

.issue-section h2 {
    color: var(--dark-color);
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about-section {
    margin-top: 10px;
    text-align: left;
}

.feedback-section {
    margin-top: 10px;
    text-align: left;
}

.site-footer {
    color: var(--white); /* Ensure text is readable on the dark background */
    padding: 20px; /* Add padding for spacing */
    border-radius: 15px; /* Match the rounded corners of other sections */
    box-shadow: 0 4px 10px var(--shadow-color); /* Add a subtle shadow */
    text-align: center;
    margin-top: 20px; /* Add spacing above the footer */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.site-footer a {
    color: var(--dark-color); /* Use accent color for links */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.site-footer a:hover {
    color: var(--white); /* Change link color on hover */
    text-decoration: underline; /* Add underline on hover for emphasis */
}

.video-fit {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.title-section h2 {
    color: var(--dark-color); /* Ensure consistent header color */
    margin-bottom: 20px;
}

.title-section p {
    color: var(--text-color); /* Ensure consistent text color */
    font-size: 1em;
    margin: 5px 0;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: var(--warning-color);
}